#bgImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("https://source.unsplash.com/pazM9TQJ2Ck");
  background-size: cover;
  z-index: -1;
  opacity: 0.5;
}

